@media (max-width: 959px){

body{
  width: 100%;
}

.headbox{
  height: 869px;
  background-image: url(../img/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.wrapper{
  width: 100%;
  margin: 0 auto;
}

  .logo{
  margin-left: 20px;
  margin-top: 51px;
}
 
  .menu{
  width: 99%;
  margin: 31px 0px 20px 4px;
}

.menu__item{
  margin-right: 5%;
  margin-left: 2%;
}

.sliders{
  margin-top: -32px;
}

.sliders__wrapper{
  width: 100%;
  margin: 0 auto;
  height: 400px;
  position: relative;
}

.sliders__arrow--left{
  display: inline;
  position: absolute;
  left: 0;
  top: 183px;
}

.sliders__arrow--right{
  display: inline;
  position: absolute;
  right: 0;
  top: 183px;
}

.sliders__text{
  float: left;
  height: 400px;
  width: 41%;
  margin-left: 3%;
}

.sliders__t1{
  display: block;
  padding-top: 98px;
  padding-left: 21px;
  font-family: 'league_gothicregular';
  font-size: 48px;
  color: #fefefe;
  text-transform: capitalize;
  letter-spacing: -0.35px;
}

.sliders__t2{
  display: block;
  height: 23px;
  overflow: hidden;
  margin: 8px 0 0 20px;
  letter-spacing: 0px;
  display: block;
  font-family: 'league_gothicregular';
  font-size: 24px;
  color: #edbfff;
  text-transform: uppercase;
}

.sliders__t3{
  display: block;
  width: 275px;
  height: 100px;
  overflow: hidden;
  margin-top: 8px;
  margin-left: 21px;
  font-family: 'open_sanslight';
  font-size: 16px;
  color: #fff;
  line-height: 26px;
}

.sliders__picture{
  margin-top: -23px;
  margin-left: 15%;
  width: 37%;
  padding-left: 4px;
}

.sliders__picture img{
  max-width: 298px;
}


.sliders__selectors{
  margin: 37px 126px 0 0;
}

.content-top{
  margin-top: -71px;
  height: 341px;
}

.content-top__wrapper{
  width: 100%;
  margin: 0 auto;
  height: inherit;
}

.content-top__logo--1{
  margin-top: 1px;
  margin-left: 22px;
}

.content-top__block{
  margin-top: 77px;
}

.content-top__block--3{
  width: 33%;
  margin-right: 0%;
}

.content-top__t1{
  font-size: 24px;
}

.content-top__t2{
  padding-top: 3px;
  height: 145px;

}

.content-top__block--2{
  margin-left: 1%;
  margin-right: 0;
}


.content-top__logo--2{
  margin-top: 2px;
  margin-left: 28px;
  margin-right: 19px;
}

.content-top__logo--3{
  margin-top: 2px;
  margin-left: 36px;
  margin-right: 25px;
}

.content-top__button--1{
  margin-top: 6px;
  margin-left: 71%;
}

.content-top__button--2{
  margin-top: 6px;
  margin-left: 73%;
}

.content-top__button--3{
  margin: 6px 0 0 74%;
}

.content-middle{
  clear: both;
  height: 486px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
}

.content-middle__wrapper{
  width: 100%;
  height: inherit;
  margin: 0 auto;
}

.content-middle__block{
  float: left;
  margin-top: 100px;
  margin-left: 5%;
  width: 41%;
  height: 272px;
  background-color: white;
  box-shadow: 0px 5px 29px -13px rgba(0,0,0,0.75);
}

.content-middle__header{
  float: left;
  margin: 29px 0 8px 14px;
  font-size: 24px;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
  text-decoration: none;
  color: #454545;
  width: 130px;
}

.content-middle__text{
  clear: both;
  display: block;
  width: 84%;
  height: 140px;
  overflow: hidden;
  margin-left: 13%;
  margin-right: 1%;
  font-size: 17px;
  line-height: 24px;
  font-family: 'open_sanslight';
}

.sliders__selectors--middle{
  margin: 71px 108px 0 0;
}

.content-middle__block--1{
  float: left;
  margin-top: 100px;
  margin-left: 6.5%;
  width: 46%;
  height: 270px;
}

.content-middle__header--1{
  float: left;
  margin: 29px 0 16px 15px;
  font-size: 30px;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
  text-decoration: none;
  color: #454545;
}

.content-middle__blog{
  margin: -3px 0 10px 15px;
  clear: both;
}

.content-middle__blogpic--1{
  float: left;
  margin: 0px 0 0 1px;
}

.content-middle__blogheader--1{
  display: block;
  margin: 0 0 0 65px;
  padding: 3px 0 0 1px;
  font-family: 'open_sansbold';
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

.content-middle__blogtext--1{
  display: block;
  width: 260px;
  height: 20px;
  overflow: hidden;
  padding: 7px 0 0 16px;
  font-family: 'open_sanslight';
  font-size: 17px;
  letter-spacing: -0.5px;
}

.content-middle__blogpic--2{
  float: left;
  margin: 2px 0 0 1px;
}

.content-middle__blogheader--2{
  display: block;
  margin: 22px 0 0 65px;
  padding: 5px 0 0 1px;
  font-family: 'open_sansbold';
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

.content-middle__blogtext--2{
  display: block;
  width: 260px;
  height: 20px;
  overflow: hidden;
  padding: 7px 0 0 16px;
  font-family: 'open_sanslight';
  font-size: 17px;
  letter-spacing: -0.5px;
}

.content-middle__blogpic--3{
  float: left;
  margin: 2px 0 0 1px;
}

.content-middle__blogheader--3{
  display: block;
  margin: 20px 0 0 65px;
  padding: 5px 0 0 1px;
  font-family: 'open_sansbold';
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

.content-middle__blogtext--3{
  display: block;
  width: 260px;
  height: 20px;
  overflow: hidden;
  padding: 7px 0 0 16px;
  font-family: 'open_sanslight';
  font-size: 17px;
  letter-spacing: -0.6px;
}

.content-middle__button{
  clear: both;
  margin: 11px 6px 0 0;
  float: right;
}

.content-bottom__wrapper{
  width: 100%;
  height: inherit;
  margin: 0 auto;
}

.content-bottom{
  clear: both;
  height: 118px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #fefefe;
}

.logos{
  display: none;
}

.logos768{
  padding-top: 24px;
  margin: 0 auto;
  display: block;
}

.footer__wrapper{
  width: 100%;
  height: inherit;
  margin: 0 auto;
}

.footer__block--1{
  display: none;
}

.footer__block--3{
  display: none;
}

.footer__block{
  float: left;
  width: 29%;
  height: 202px;
  overflow: hidden;
  margin-top: 101px;
  margin-left: 0%;
  margin-right: 2%;
}

.footer__block--2{
  display: block;
  float: left;
  width: 28%;
  height: 202px;
  overflow: hidden;
  margin-top: 101px;
  margin-left: 6%;
  margin-right: 0%;
}

.footer__header{
  font-size: 24px;
}

.footer__header--1{
  margin-left: 19px;
}

.footer__text{
  margin: 9px 0 0 8px;
  line-height: 24px;
  letter-spacing: -0.1px;
  font-family: 'open_sanslight';
}
.footer__text--3{
  margin: 9px 0 0 20px;
}

.footer-bg{
  height: 200px;
  background-image: url(../img/bg768.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.footer-bg__wrapper{
  width: 100%;
  margin: 0 auto;
}

.footer{
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
  height: 396px;
}

.footer__menu{
  margin: 46px 0px 0px 11px;
  float: left;
}

.footer__copyright{
  clear: both;
  float: right;
  margin: 28px 6px 0 0;
  font-size: 12px;
}

.footer__copyright a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'open_sansbold';
  color: white;
}

.dropdown__home{
  display: none;
}

}

