@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league-gothic.regular-webfont.eot');
    src: url('../fonts/league-gothic.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/league-gothic.regular-webfont.woff2') format('woff2'),
         url('../fonts/league-gothic.regular-webfont.woff') format('woff'),
         url('../fonts/league-gothic.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans.light-webfont.eot');
    src: url('../fonts/open-sans.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.light-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.light-webfont.woff') format('woff'),
         url('../fonts/open-sans.light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open-sans.bold-webfont.eot');
    src: url('../fonts/open-sans.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans.bold-webfont.woff2') format('woff2'),
         url('../fonts/open-sans.bold-webfont.woff') format('woff'),
         url('../fonts/open-sans.bold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans.bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
  width: 100%;
  background-color: #f9f9f9;
  margin: 0 auto;
}

.headbox{
  height: 867px;
  background-image: url(../img/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper{
  margin: 0 auto;
  width: 960px;
  height: 276px;
}

.logo{
  width: 20%;
  margin-top: 49px;
  float: left;
}

.menu-dropdown{
  display: none;
}

.menu{
  width: 67%;
  margin-top: 72px;
  margin-left: 13%;
  float: left;
}

.menu__item{
  text-align: center;
  float: left;
  margin-right: 3%;
  margin-left: 3%;
  height: 28px;
}

.menu__item:hover{
  border-bottom: 2px solid #edbfff;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu__link{
  display: block;
  font-family: "league_gothicregular", tahoma;
  text-transform: uppercase;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
}

.sliders{
  clear: both;
  height: 400px;
  background: rgba(0,0,0, 0.3);
}

.sliders__wrapper{
  margin: 0 auto;
  width: 960px;
  height: 400px;
  position: relative;
}

.sliders__arrow--left{
  display: none;
}

.sliders__arrow--right{
  display: none;
}


.sliders__text{
  float: left;
  height: 400px;
  width: 52%;
  margin: 0 0 0 -1px;
}

.sliders__t1{
  display: block;
  padding-top: 79px;
  padding-left: 1px;
  font-family: 'league_gothicregular';
  font-size: 59px;
  color: #fefefe;
  text-transform: capitalize;
  letter-spacing: -0.3px;
}

.sliders__t2{
  letter-spacing: -0.02px;
  display: block;
  font-family: 'league_gothicregular';
  font-size: 32px;
  color: #edbfff;
  text-transform: uppercase;
}

.sliders__t3{
  display: block;
  margin-top: 5px;
  font-family: 'open_sanslight';
  font-size: 18px;
  color: #fff;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.sliders__picture{
  float: left;
  margin-top: -17px;
  margin-left: 13%;
  width: 30%;
  padding-left: 4px;
}

.sliders__selectors{
  clear: both;
  margin: 93px 345px 0 0;
}

.sliders__circle{
  margin: 0 0 0 5px;
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: rgba(0,0,0, 0.5);
}

.sliders__circle--middle{
  margin: 0 0 0 5px;
  float: right;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: white;
  border: 1px solid gray;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sliders__circle--active{
  background: white;
  border: #383840 3px solid;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sliders__circle--middle--active{
  background: #555555;
  border: gray 2px solid;
    -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-top{
  margin-top: -23px;
  height: 340px;
  background: -moz-linear-gradient(270deg, rgb(116, 80, 131) 15%, rgb(50, 37, 37) 85%);
  background: linear-gradient(180deg, rgb(116, 80, 131) 15%, rgb(50, 37, 37) 85%);
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.content-top__wrapper{
  width: 960px;
  margin: 0 auto;
  height: inherit;
}

.content-top__block{
  margin-top: 76px;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  width: 31%;
  height: 215px;
}

.content-top__logo--1{
  margin-top: 6px;
  margin-right: 21px;
  margin-left: 1px;
  float: left;
  width: 31px;
  height: 31px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.content-top__t1{
  margin-left: 32px;
  display: block;
  font-family: 'league_gothicregular';
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.content-top__t2{
  display: block;
  height: 125px;
  overflow: hidden;
  margin-left: 52px;
  padding-top: 8px;
  display: block;
  font-family: 'open_sanslight';
  font-size: 16px;
  color: white;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-shadow: 1px 1px 0px black;
}

.content-top__button{
  float: left;
  margin: 14px 0px 0 73%;
  text-align: right;
  height: 30px;
  letter-spacing: -0.2px;
}

.content-top__block--2{
  margin-left: 4%;
  margin-right: 0;
}

.content-top__logo--2{
  margin-top: 6px;
  margin-right: 21px;
  float: left;
  width: 31px;
  height: 31px;
  background-image: url(../img/sprite.png);
  background-position: -72px 0;
  background-repeat: no-repeat;
}

.content-top__t2--2{
  margin-left: 52px;
}

.content-top__button--2{
  margin: 14px 0px 0 74%;
}

.content-top__block--3{
  width: 30%;
  margin-left: 2%;
  margin-right: 0;
}

.content-top__logo--3{
  margin-top: 6px;
  margin-right: 25px;
  margin-left: 22px;
  float: left;
  width: 31px;
  height: 31px;
  background-image: url(../img/sprite.png);
  background-position: -150px 0;
  background-repeat: no-repeat;
}

.content-top__button--2{
  margin: 14px 0px 0 74%;
}

.content-top__button--1:hover a{
  text-shadow: 0px 0px 10px white;
}

.content-top__button--2:hover a{
  text-shadow: 0px 0px 10px white;
}

.content-top__button--3:hover a{
  text-shadow: 0px 0px 10px white;
}

.content-top__button--1 a{
  float: left;
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'league_gothicregular';
  font-size: 19px;
}

.content-top__button--2 a{
  float: left;
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'league_gothicregular';
  font-size: 19px;
}

.content-top__button--3 a{
  float: left;
  display: block;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'league_gothicregular';
  font-size: 19px;
}

.content-middle{
  clear: both;
  height: 486px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e6e6e6;
}

.content-middle__wrapper{
  width: 960px;
  height: inherit;
  margin: 0 auto;

}

.content-middle__block{
  float: left;
  margin-top: 100px;
  margin-left: 2%;
  padding-left: 4px;
  width: 44%;
  height: 272px;
  background-color: white;
  box-shadow: 0px 5px 29px -13px rgba(0,0,0,0.75);
}

.content-middle__photo{
  float: left;
  margin: 18px 0 0 -23px;
}

.content-middle__header{
  float: left;
  margin: 29px 0 9px 13px;
  font-size: 30px;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
  text-decoration: none;
  color: #454545;
}

.content-middle__header--1{
  float: left;
  margin: 28px 0 15px 14px;
  font-size: 30px;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
  text-decoration: none;
  color: #454545;
}

.content-middle__header a{
  text-decoration: none;
  color: #edbfff;
}

.content-middle__text{
  clear: both;
  display: block;
  width: 84%;
  height: 190px;
  overflow: hidden;
  margin: 0 15px 0 39px;
  font-size: 17px;
  line-height: 24px;
  font-family: 'open_sanslight';
  letter-spacing: -0.52px;
}

.sliders__selectors--middle{
  margin: 38px 160px 0 0;
}


.content-middle__block--1{
  float: left;
  margin-top: 101px;
  margin-left: 6%;
  width: 47%;
  height: 270px;
}

.content-middle__blog{
  margin: 14px 0 24px 15px;
  clear: both;
}

.content-middle__blogpic--1{
  float: left;
  margin: 1px 0 0 0;
}

.content-middle__blogheader--1{
  display: block;
  margin: 0 0 0 66px;
  padding: 5px 0 0 0px;
  font-family: 'open_sansbold';
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

.content-middle__blogtext--1{
  padding: 6px 0 0 66px;
  font-family: 'open_sanslight';
  font-size: 17px;
  letter-spacing: -0.7px;
}

.content-middle__blogpic--2{
  float: left;
  margin: 2px 0 0 0;
}

.content-middle__blogheader--2{
  display: block;
  margin: -3px 0 0 65px;
  padding: 5px 0 0 0px;
  font-family: 'open_sansbold';
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

.content-middle__blogtext--2{
  padding: 7px 0 0 66px;
  font-family: 'open_sanslight';
  font-size: 17px;
  letter-spacing: -0.6px;
}

.content-middle__blogpic--3{
  float: left;
  margin: 2px 0 0 0;
}

.content-middle__blogheader--3{
  display: block;
  margin: -6px 0 0 65px;
  padding: 5px 0 0 0px;
  font-family: 'open_sansbold';
  font-size: 17px;
  letter-spacing: -0.2px;
  font-weight: bold;
  text-decoration: none;
  color: #454545;
}

.content-middle__blogtext--3{
  padding: 7px 0 0 65px;
  font-family: 'open_sanslight';
  font-size: 17px;
  letter-spacing: -0.9px;
}

.content-middle__button{
  clear: both;
  margin: 3px 0px 0 0;
  float: right;
}

.content-middle__button:hover a{
  text-shadow: 0px 0px 10px black;
}

.content-middle__button a{
  text-align: right;
  float: left;
  display: block;
  color: #454545;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'league_gothicregular';
  font-size: 19px;
  letter-spacing: -0.3px;
}

.content-bottom{
  clear: both;
  height: 118px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #fefefe;
  border-top: 1px solid #fefefe;
}

.content-bottom__wrapper{
  width: 960px;
  height: inherit;
  margin: 0 auto;
}

.logos{
  padding-top: 24px;
  display: block;
  margin: 0 auto;
}

.logos480{
  display: none;
}

.logos768{
  display: none;
}

.logos320{
  display: none;
}

.footer{
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
  height: 396px;
}

.footer__wrapper{
  width: 960px;
  height: inherit;
  margin: 0 auto;
}

.footer__block{
  float: left;
  width: 29%;
  height: 230px;
  margin-top: 96px;
}

.footer__block--3{
  float: left;
  height: 230px;
  margin-right: 6%;
}

.footer__block--1{
  float: left;
  height: 230px;
  margin-right: 6%;
}

.footer__block--2{
  display: none;
}

.footer__block--2{
  display: none;
}


.footer__logo{
  display: block;
  margin-top: -1px;
  margin-left: -2px;
  font-family: 'league_gothicregular';
  font-size: 47px;
  color: #454545;
  text-decoration: none;
}

.footer__logo span{
  color: #b9b9b9;
}

.footer__copy{
  margin: 14px 0 0 0;
  font-family: georgia;
  font-style: italic;
  font-size: 15px;
  letter-spacing: 0.4px;
}

.footer__text{
  margin: 11px 0 0 0;
  height: 165px;
  overflow: hidden;
  line-height: 24px;
  font-family: 'open_sanslight';
  letter-spacing: -0.2px;
}

.footer__text--1{
  height: 115px;
  margin-left: -1px;
}

.footer__text--2{
  margin-top: 8px;
  margin-left: 8px;
}

.footer__text--3{
  margin-top: 8px;
  margin-left: 17px;
}

.footer__header{
  display: block;
  margin-left: 6px;
  color: #454545;
  text-decoration: none;
  font-size: 30px;
  font-family: 'league_gothicregular';
  text-transform: uppercase;
}

.footer__header--1{
  margin-left: 16px;
}

.footer-bg{
  height: 114px;
  background-image: url(../img/bg-footer.jpg);
  background-position: top center;
  background-repeat: no-repeat;
}

.footer-bg__wrapper{
  width: 960px;
  margin: 0 auto;
  height: inherit;
}

.footer__menu{
  margin: 46px 0px 0px -9px;
  float: left;
}

.footer__item{
  text-align: center;
  float: left;
  margin: 0 35px 0 8px;
  height: 28px;
}

.footer__link{
  display: block;
  font-family: "league_gothicregular", tahoma;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 1px black; 
}

.footer__copyright{
  float: right;
  margin: 53px 0px 0 0;
  font-size: 12px;
}

.footer__copyright p{
  font-family: 'open_sanslight';
  color: white;
}

.footer__copyright a{
  text-decoration: none;
  font-weight: bold;
  font-family: 'open_sansbold';
  color: white;
  letter-spacing: 0.1px;
}

.dropdown__home{
  display: none;
}





